{#
/**
 * @file kanban_card_entity.html.twig
 * Default theme implementation to present Card data.
 *
 * This template is used when viewing Card pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_kanban_card_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('kanban_card_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
