{#
/**
 * @file kanban_board_entity.html.twig
 * Default theme implementation to present Board data.
 *
 * This template is used when viewing Board pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_kanban_board_entity()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('igrowl/command') }}
{{ attach_library('igrowl/icons.feather') }}
{{ attach_library('jkanban/main') }}

<div{{ attributes.addClass('kanban_board_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
  <div class="jkanban" data-settings="{{ kanban_data }}">
    <div class="kanban-actions"></div>
    <div class="kanban-board" id="kanban-{{ id }}">
      {% if kanban_data %}
        {% for list_data in kanban_data %}
          {{ list_data.entity.name.value }}
        {% endfor %}
      {% else %}
        <div class="kanban-warning">{{ "Kanban data empty."|trans }}</div>
      {% endif %}
      <a href="/kanban_list/add"
         class="use-ajax"
         data-dialog-type="modal"
         data-dialog-options="{'width':800,'height':500}">
        Create Node
      </a>
      <a href="/ajax/kanban/add-list/{{ id }}" class="use-ajax kanban-add-list">Add list</a>
    </div>
  </div>
</div>
